
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Conférence</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#sessions-list">Sessions</a>
                <a class="nav-item nav-link" href="#speakers-list">Présentateurs</a>
            </div>
        </div>
    </nav>
<section id="main-view" class="container-fluid">
Ici le contenu principal en attente de chargement
</section>
</div>